amqp:
  host:   127.0.0.1 # Queue's IP address
  port:   5672
  username: github   # Username to connect to the queue
  password: github   # password
  exchange: github

mongo:
  host: 127.0.0.1      # Mongo's IP addr
  port: 27017          # Mongo's port
  db: github           # DB name to store commits to
  username: github     # User name to connect to Mongo
  password: github     # Password for mongo

  # Names for collections to save the retrieved data to
  commits: 'commits'
  commitsv3: 'commitsv3'
  owners: 'owners'
  events: 'events'
  watched: 'watched'
  followed: 'followed'
  followers: 'followers'
  users: 'users'

mirror:
  urlbase: "https://api.github.com/"
  reqrate: 80 #per minute
  commits:
    shamethod: event #or html or rss   # Method to use to retrieve commit SHA-1
    apiversion: 2 #or 3
    pollevery: 10 #sec
  events:
    pollevery: 5 #sec
