amqp:
  host:   1.2.3.4 # Queue's IP address
  username: foo   # Username to connect to the queue
  password: bar   # password 

mongo:
  host: 1.2.3.4        #Mongo's IP addr 
  port: 27017          #Mongo's port
  db: 'github'         #DB name to store commits to
  username: foo        #User name to connect to Mongo
  password: bar        #Passwrod for mongo
  # Don't touch the following
  commits: 'commits'   
  owners: 'owners'     
  commitlength: 'mapreduce.commitlength' 

mirror:
  method: html #or rss
