---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/issues?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1527677987'
      Etag:
      - W/"17a8e63b15071bf08f31154c707a3b9e"
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/Priya5/Test-Project/issues/1","repository_url":"https://api.github.com/repos/Priya5/Test-Project","labels_url":"https://api.github.com/repos/Priya5/Test-Project/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/Priya5/Test-Project/issues/1/comments","events_url":"https://api.github.com/repos/Priya5/Test-Project/issues/1/events","html_url":"https://github.com/Priya5/Test-Project/pull/1","id":326958432,"number":1,"title":"Create
        test.rb","user":{"login":"Priya5","id":16774475,"avatar_url":"https://avatars1.githubusercontent.com/u/16774475?v=4","gravatar_id":"","url":"https://api.github.com/users/Priya5","html_url":"https://github.com/Priya5","followers_url":"https://api.github.com/users/Priya5/followers","following_url":"https://api.github.com/users/Priya5/following{/other_user}","gists_url":"https://api.github.com/users/Priya5/gists{/gist_id}","starred_url":"https://api.github.com/users/Priya5/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Priya5/subscriptions","organizations_url":"https://api.github.com/users/Priya5/orgs","repos_url":"https://api.github.com/users/Priya5/repos","events_url":"https://api.github.com/users/Priya5/events{/privacy}","received_events_url":"https://api.github.com/users/Priya5/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":2,"created_at":"2018-05-28T09:21:58Z","updated_at":"2018-05-29T09:43:44Z","closed_at":null,"author_association":"OWNER","pull_request":{"url":"https://api.github.com/repos/Priya5/Test-Project/pulls/1","html_url":"https://github.com/Priya5/Test-Project/pull/1","diff_url":"https://github.com/Priya5/Test-Project/pull/1.diff","patch_url":"https://github.com/Priya5/Test-Project/pull/1.patch"},"body":"Adding
        a test file"}]'
  recorded_at: Wed, 30 May 2018 10:26:37 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/issues?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
   [...]
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/issues?per_page=100&state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1527677987'
      Etag:
      - '"68f6cb68681e3068114d8aac4119ac50"'
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 30 May 2018 10:41:41 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/issues?page=1&per_page=100&state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1527677987'
      Etag:
      - '"68f6cb68681e3068114d8aac4119ac50"'
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 30 May 2018 10:41:42 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/issues/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1527677987'
      Etag:
      - W/"fb1ffc00f2e4eac8a2de1a24e1990be3"
      Last-Modified:
      - Wed, 30 May 2018 10:22:46 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/Priya5/Test-Project/issues/2","repository_url":"https://api.github.com/repos/Priya5/Test-Project","labels_url":"https://api.github.com/repos/Priya5/Test-Project/iss[...]
