---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/notalex/followers?page=1&per_page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c4bb34a78fd732a14b6cb7b05c93a48c144c7604
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1524042800'
      Etag:
      - W/"ac3d10d468e56e30d60aecdf348a9f5b"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/1637711/followers?page=2&per_page=3>; rel="next",
        <https://api.github.com/user/1637711/followers?page=3&per_page=3>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"aelsheshai","id":784579,"avatar_url":"https://avatars2.githubusercontent.com/u/784579?v=4","gravatar_id":"","url":"https://api.github.com/users/aelsheshai","html_url":"https://github.com/aelsheshai","followers_url":"https://api.github.com/users/aelsheshai/followers","following_url":"https://api.github.com/users/aelsheshai/following{/other_user}","gists_url":"https://api.github.com/users/aelsheshai/gists{/gist_id}","starred_url":"https://api.github.com/users/aelsheshai/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aelsheshai/subscriptions","organizations_url":"https://api.github.com/users/aelsheshai/orgs","repos_url":"https://api.github.com/users/aelsheshai/repos","events_url":"https://api.github.com/users/aelsheshai/events{/privacy}","received_events_url":"https://api.github.com/users/aelsheshai/received_events","type":"User","site_admin":false},{"login":"JeetDesai","id":1021248,"avatar_url":"https://avatars1.githubusercontent.com/u/1021248?v=4","gravatar_id":"","url":"https://api.github.com/users/JeetDesai","html_url":"https://github.com/JeetDesai","followers_url":"https://api.github.com/users/JeetDesai/followers","following_url":"https://api.github.com/users/JeetDesai/following{/other_user}","gists_url":"https://api.github.com/users/JeetDesai/gists{/gist_id}","starred_url":"https://api.github.com/users/JeetDesai/starred{/owner}[...]
- request:
    method: get
    uri: https://api.github.com/user/1637711/followers?page=2&per_page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c4bb34a78fd732a14b6cb7b05c93a48c144c7604
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelim[...]
[...]
