---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/issues/2/labels?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1527681709'
      Etag:
      - W/"317cf18945b79949c57bdab309a4881b"
      Last-Modified:
      - Wed, 30 May 2018 11:37:51 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":943386495,"url":"https://api.github.com/repos/Priya5/Test-Project/labels/good%20first%20issue","name":"good
        first issue","color":"7057ff","default":true}]'
  recorded_at: Wed, 30 May 2018 11:39:36 GMT
recorded_with: VCR 4.0.0
