---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/linus/followers?page=43&per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1529304526'
      Etag:
      - W/"05d357bde1fe90eb9bd50bd7737e7d7f"
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/105278/followers?page=42&per_page=2>; rel="prev",
        <https://api.github.com/user/105278/followers?page=1&per_page=2>; rel="first"
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"hiroki-tkg","id":5345000,"node_id":"MDQ6VXNlcjUzNDUwMDA=","avatar_url":"https://avatars2.githubusercontent.com/u/5345000?v=4","gravatar_id":"","url":"https://api.github.com/users/hiroki-tkg","html_url":"https://github.com/hiroki-tkg","followers_url":"https://api.github.com/users/hiroki-tkg/followers","following_url":"https://api.github.com/users/hiroki-tkg/following{/other_user}","gists_url":"https://api.github.com/users/hiroki-tkg/gists{/gist_id}","starred_url":"https://api.github.com/users/hiroki-tkg/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hiroki-tkg/subscriptions","organizations_url":"https://api.github.com/users/hiroki-tkg/orgs","repos_url":"https://api.github.com/users/hiroki-tkg/repos","events_url":"https://api.github.com/users/hiroki-tkg/events{/privacy}","received_events_url":"https://api.github.com/users/hiroki-tkg/received_events","type":"User","site_admin":false}]'
  recorded_at: Mon, 18 Jun 2018 06:08:06 GMT
recorded_with: VCR 4.0.0
