---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/forks?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1527583082'
      Etag:
      - W/"ff22852212b142717bbaf8436fad0178"
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":135258762,"name":"Test-Project","full_name":"Priya101/Test-Project","owner":{"login":"Priya101","id":39691492,"avatar_url":"https://avatars0.githubusercontent.com/u/39691492?v=4","gravatar_id":"","url":"https://api.github.com/users/Priya101","html_url":"https://github.com/Priya101","followers_url":"https://api.github.com/users/Priya101/followers","following_url":"https://api.github.com/users/Priya101/following{/other_user}","gists_url":"https://api.github.com/users/Priya101/gists{/gist_id}","starred_url":"https://api.github.com/users/Priya101/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Priya101/subscriptions","organizations_url":"https://api.github.com/users/Priya101/orgs","repos_url":"https://api.github.com/users/Priya101/repos","events_url":"https://api.github.com/users/Priya101/events{/privacy}","received_events_url":"https://api.github.com/users/Priya101/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/Priya101/Test-Project","description":null,"fork":true,"url":"https://api.github.com/repos/Priya101/Test-Project","forks_url":"https://api.github.com/repos/Priya101/Test-Project/forks","keys_url":"https://api.github.com/repos/Priya101/Test-Project/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Priya101/Test-Project/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Priya101/Test-Project/teams","hooks_url":"https://api.github.com/repos/Priya101/Test-Project/hooks","issue_events_url":"https://api.github.com/repos/Priya101/Test-Project/issues/events{/number}","events_url":"https://api.github.com/repos/Priya101/Test-Project/events","assignees_url":"https://api.github.com/repos/Priya101/Test-Project/assignees{/user}","branches_url":"https://api.github.com/repos/Priya101/Test-Project/branches{/branch}","tags_url":"https://api.github.com/repos/Priya101/Test-Project/tags","blobs_url":"https://api.github.com/repos/Priya101/Test-Project/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Priya101/Test-Project/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Priya101/Test-Project/git/refs{/sha}","trees_url":"https://api.github.com/repos/Priya101/Test-Project/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Priya101/Test-Project/statuses/{sha}","languages_url":"https://api.github.com/repos/Priya101/Test-Project/languages","stargazers_url":"https://api.github.com/repos/Priya101/Test-Project/stargazers","contributors_url":"https://api.github.com/repos/Priya101/Test-Project/contributors","subscribers_url":"https://api.github.com/repos/Priya101/Test-Project/subscribers","subscription_url":"https://api.github.com/repos/Priya101/Test-Project/subscription","commits_url":"https://api.github.com/repos/Priya101/Test-Project/commits{/sha}","git_commits_url":"https://api.github.com/repos/Priya101/Test-Project/git/commits{/sha}","comments_url":"https://api.github.com/repos/Priya101/Test-Project/comments{/number}","issue_comment_url":"https://api.github.com/repos/Priya101/Test-Project/issues/comments{/number}","contents_url":"https://api.github.com/repos/Priya101/Test-Project/contents/{+path}","compare_url":"https://api.github.com/repos/Priya101/Test-Project/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Priya101/Test-Project/merges","archive_url":"https://api.github.com/repos/Priya101/Test-Project/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Priya101/Test-Project/downloads","issues_url":"https://api.github.com/repos/Priya101/Test-Project/issues{/number}","pulls_url":"https://api.github.com/repos/Priya101/Test-Project/pulls{/number}","milestones_url":"https://api.github.com/repos/Priya101/Test-Project/milestones{/number}","notifications_url":"https://api.github.com/repos/Priya101/Test-Project/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Priya101/Test-Project/labels{/name}","releases_url":"https://api.github.com/repos/Priya101/Test-Project/releases{/id}","deployments_url":"https://api.github.com/repos/Priya101/Test-Project/deployments","created_at":"2018-05-29T07:34:54Z","updated_at":"2018-05-29T07:34:56Z","pushed_at":"2018-05-28T09:21:59Z","git_url":"git://github.com/Priya101/Test-Project.git","ssh_url":"git@github.com:Priya101/Test-Project.git","clone_url":"https://github.com/Priya101/Test-Project.git","svn_url":"https://github.com/Priya101/Test-Project","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}}]'
  recorded_at: Tue, 29 May 2018 07:40:51 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/forks?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
    [...]
- request:
    method: get
    uri: https://api.github.com/repos/Priya101/Test-Project
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1527583082'
      Etag:
      - W/"bc02a95653ed4f3ecf69b6370ce45850"
      Last-Modified:
      - Tue, 29 May 2018 07:34:56 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":135258762,"name":"Test-Project","full_name":"Priya101/Test-Project","owner":{"login":"Priya101","id":39691492,"avatar_url":"https://avatars0.githubusercontent.com/u/39691492?v=4","gravatar_id":""[...]
