---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/ghtorrent/members?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1527594910'
      Etag:
      - W/"29197b251445dc81dc3a82bc0322062e"
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"ght_user","id":1,"avatar_url":"https://avatars3.githubusercontent.com/u/39358?v=4","gravatar_id":"","url":"https://api.github.com/users/ght_user","html_url":"https://github.com/ght_user","followers_url":"https://api.github.com/users/ght_user/followers","following_url":"https://api.github.com/users/ght_user/following{/other_user}","gists_url":"https://api.github.com/users/ght_user/gists{/gist_id}","starred_url":"https://api.github.com/users/ght_user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ght_user/subscriptions","organizations_url":"https://api.github.com/users/ght_user/orgs","repos_url":"https://api.github.com/users/ght_user/repos","events_url":"https://api.github.com/users/ght_user/events{/privacy}","received_events_url":"https://api.github.com/users/ght_user/received_events","type":"User","site_admin":false}]'
  recorded_at: Tue, 29 May 2018 11:00:57 GMT
recorded_with: VCR 4.0.0
