---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Priya5/following?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1527059152'
      Etag:
      - W/"d4ed80095e40f1f3cc2eed2632476fff"
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"ProsenjitSaha","id":420480,"avatar_url":"https://avatars1.githubusercontent.com/u/420480?v=4","gravatar_id":"","url":"https://api.github.com/users/ProsenjitSaha","html_url":"https://github.com/ProsenjitSaha","followers_url":"https://api.github.com/users/ProsenjitSaha/followers","following_url":"https://api.github.com/users/ProsenjitSaha/following{/other_user}","gists_url":"https://api.github.com/users/ProsenjitSaha/gists{/gist_id}","starred_url":"https://api.github.com/users/ProsenjitSaha/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ProsenjitSaha/subscriptions","organizations_url":"https://api.github.com/users/ProsenjitSaha/orgs","repos_url":"https://api.github.com/users/ProsenjitSaha/repos","events_url":"https://api.github.com/users/ProsenjitSaha/events{/privacy}","received_events_url":"https://api.github.com/users/ProsenjitSaha/received_events","type":"User","site_admin":false}]'
  recorded_at: Wed, 23 May 2018 06:37:17 GMT
- request:
    method: get
    uri: https://api.github.com/users/ProsenjitSaha/followers?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1527059152'
      Etag:
      - W/"719c0019b1cd67bacd2b7622349b2393"
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[]'
  recorded_at: Wed, 23 May 2018 06:37:18 GMT
recorded_with: VCR 4.0.0
