---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1527243606'
      Etag:
      - W/"dbb8300369c234cd2fce12a9c82a01d9"
      Last-Modified:
      - Thu, 24 May 2018 11:18:21 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":134704620,"name":"Test-Project","full_name":"Priya5/Test-Project","owner":{"login":"Priya5","id":16774475,"avatar_url":"https://avatars1.githubusercontent.com/u/16774475?v=4","gravatar_id":"","url":"https://api.github.com/users/Priya5","html_url":"https://github.com/Priya5","followers_url":"https://api.github.com/users/Priya5/followers","following_url":"https://api.github.com/users/Priya5/following{/other_user}","gists_url":"https://api.github.com/users/Priya5/gists{/gist_id}","starred_url":"https://api.github.com/users/Priya5/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Priya5/subscriptions","organizations_url":"https://api.github.com/users/Priya5/orgs","repos_url":"https://api.github.com/users/Priya5/repos","events_url":"https://api.github.com/users/Priya5/events{/privacy}","received_events_url":"https://api.github.com/users/Priya5/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/Priya5/Test-Project","description":null,"fork":false,"url":"https://api.github.com/repos/Priya5/Test-Project","forks_url":"https://api.github.com/repos/Priya5/Test-Project/forks","keys_url":"https://api.github.com/repos/Priya5/Test-Project/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Priya5/Test-Project/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Priya5/Test-Project/teams","hooks_url":"https://api.github.com/repos/Priya5/Test-Project/hooks","issue_events_url":"https://api.github.com/repos/Priya5/Test-Project/issues/events{/number}","events_url":"https://api.github.com/repos/Priya5/Test-Project/events","assignees_url":"https://api.github.com/repos/Priya5/Test-Project/assignees{/user}","branches_url":"https://api.github.com/repos/Priya5/Test-Project/branches{/branch}","tags_url":"https://api.github.com/repos/Priya5/Test-Project/tags","blobs_url":"https://api.github.com/repos/Priya5/Test-Project/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Priya5/Test-Project/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Priya5/Test-Project/git/refs{/sha}","trees_url":"https://api.github.com/repos/Priya5/Test-Project/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Priya5/Test-Project/statuses/{sha}","languages_url":"https://api.github.com/repos/Priya5/Test-Project/languages","stargazers_url":"https://api.github.com/repos/Priya5/Test-Project/stargazers","contributors_url":"https://api.github.com/repos/Priya5/Test-Project/contributors","subscribers_url":"https://api.github.com/repos/Priya5/Test-Project/subscribers","subscription_url":"https://api.github.com/repos/Priya5/Test-Project/subscription","commits_url":"https://api.github.com/repos/Priya5/Test-Project/commits{/sha}","git_commits_url":"https://api.github.com/repos/Priya5/Test-Project/git/commits{/sha}","comments_url":"https://api.github.com/repos/Priya5/Test-Project/comments{/number}","issue_comment_url":"https://api.github.com/repos/Priya5/Test-Project/issues/comments{/number}","contents_url":"https://api.github.com/repos/Priya5/Test-Project/contents/{+path}","compare_url":"https://api.github.com/repos/Priya5/Test-Project/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Priya5/Test-Project/merges","archive_url":"https://api.github.com/repos/Priya5/Test-Project/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Priya5/Test-Project/downloads","issues_url":"https://api.github.com/repos/Priya5/Test-Project/issues{/number}","pulls_url":"https://api.github.com/repos/Priya5/Test-Project/pulls{/number}","milestones_url":"https://api.github.com/repos/Priya5/Test-Project/milestones{/number}","notifications_url":"https://api.github.com/repos/Priya5/Test-Project/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Priya5/Test-Project/labels{/name}","releases_url":"https://api.github.com/repos/Priya5/Test-Project/releases{/id}","deployments_url":"https://api.github.com/repos/Priya5/Test-Project/deployments","created_at":"2018-05-24T11:18:19Z","updated_at":"2018-05-24T11:18:21Z","pushed_at":"2018-05-24T11:18:20Z","git_url":"git://github.com/Priya5/Test-Project.git","ssh_url":"git@github.com:Priya5/Test-Project.git","clone_url":"https://github.com/Priya5/Test-Project.git","svn_url":"https://github.com/Priya5/Test-Project","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"network_count":0,"subscribers_count":1}'
  recorded_at: Fri, 25 May 2018 09:20:06 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-project1?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1527446695'
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/repos/#get"}'
  recorded_at: Sun, 27 May 2018 17:44:55 GMT
recorded_with: VCR 4.0.0
