---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/labels?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1527681709'
      Etag:
      - W/"bda7c30f047c20c20e448d71c49c2f63"
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":943386491,"url":"https://api.github.com/repos/Priya5/Test-Project/labels/bug","name":"bug","color":"d73a4a","default":true},{"id":943386492,"url":"https://api.github.com/repos/Priya5/Test-Project/labels/duplicate","name":"duplicate","color":"cfd3d7","default":true},{"id":943386493,"url":"https://api.github.com/repos/Priya5/Test-Project/labels/enhancement","name":"enhancement","color":"a2eeef","default":true},{"id":943386495,"url":"https://api.github.com/repos/Priya5/Test-Project/labels/good%20first%20issue","name":"good
        first issue","color":"7057ff","default":true},{"id":943386494,"url":"https://api.github.com/repos/Priya5/Test-Project/labels/help%20wanted","name":"help
        wanted","color":"008672","default":true},{"id":943386496,"url":"https://api.github.com/repos/Priya5/Test-Project/labels/invalid","name":"invalid","color":"e4e669","default":true},{"id":943386497,"url":"https://api.github.com/repos/Priya5/Test-Project/labels/question","name":"question","color":"d876e3","default":true},{"id":943386498,"url":"https://api.github.com/repos/Priya5/Test-Project/labels/wontfix","name":"wontfix","color":"ffffff","default":true}]'
  recorded_at: Wed, 30 May 2018 11:29:10 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/labels?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
   [...]
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/labels/bug
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1527681709'
      Etag:
      - W/"ba3c9bfb6fd4cba72b15cfb7a6f87133"
      Last-Modified:
      - Thu, 24 May 2018 11:18:19 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":943386491,"url":"https://api.github.com/repos/Priya5/Test-Project/labels/bug","name":"bug","color":"d73a4a","default":true}'
  recorded_at: Wed, 30 May 2018 11:35:20 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/labels/duplicate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1527681709'
      Etag:
      - W/"4b1ce543653d1528abf91b210dddd7b8"
      Last-Modified:
      - Thu, 24 May 2018 11:18:19 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":943386492,"url":"https://api.github.com/repos/Priya5/Test-Project/labels/duplicate","name":"duplicate","color":"cfd3d7","default":true}'
  recorded_at: Wed, 30 May 2018 11:35:21 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/labels/enhancement
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1527681709'
      Etag:
      - W/"91858917cffaf689c09f7d59ba6b4b82"
      Last-Modified:
      - Thu, 24 May 2018 11:18:19 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":943386493,"url":"https://api.github.com/repos/Priya5/Test-Project/labels/enhancement","name":"enhancement","color":"a2eeef","default":true}'
  recorded_at: Wed, 30 May 2018 11:35:22 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/labels/good%20first%20issue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1527681709'
      Etag:
      - W/"c70db2bdaf8bdc530facc1661d17e00d"
      Last-Modified:
      - Thu, 24 May 2018 11:18:19 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":943386495,"url":"https://api.github.com/repos/Priya5/Test-Project/labels/good%20first%20issue","name":"good
        first issue","color":"7057ff","default":true}'
  recorded_at: Wed, 30 May 2018 11:35:22 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/labels/help%20wanted
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1527681709'
      Etag:
      - W/"c5fc132a1de6622f710adc28472e0a89"
      Last-Modified:
      - Thu, 24 May 2018 11:18:19 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":943386494,"url":"https://api.github.com/repos/Priya5/Test-Project/labels/help%20wanted","name":"help
        wanted","color":"008672","default":true}'
  recorded_at: Wed, 30 May 2018 11:35:23 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/labels/invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1527681709'
      Etag:
      - W/"ddc13542e8e8908091b48129549e5491"
      Last-Modified:
      - Thu, 24 May 2018 11:18:19 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":943386496,"url":"https://api.github.com/repos/Priya5/Test-Project/labels/invalid","name":"invalid","color":"e4e669","default":true}'
  recorded_at: Wed, 30 May 2018 11:35:24 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/labels/question
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1527681709'
      Etag:
      - W/"0ea27f2c73cce506df5af0b6ca60a058"
      Last-Modified:
      - Thu, 24 May 2018 11:18:19 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":943386497,"url":"https://api.github.com/repos/Priya5/Test-Project/labels/question","name":"question","color":"d876e3","default":true}'
  recorded_at: Wed, 30 May 2018 11:35:25 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/labels/wontfix
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1527681709'
      Etag:
      - W/"cf77d51baf90052d473314d71426ffd9"
      Last-Modified:
      - Thu, 24 May 2018 11:18:19 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":943386498,"url":"https://api.github.com/repos/Priya5/Test-Project/labels/wontfix","name":"wontfix","color":"ffffff","default":true}'
  recorded_at: Wed, 30 May 2018 11:35:26 GMT
recorded_with: VCR 4.0.0
