---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Priya5/Test-Project/compare/master...Priya5:test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1527576699'
      Etag:
      - W/"c66d1957cb2940d270893708f94c5353"
      Last-Modified:
      - Mon, 28 May 2018 09:21:48 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/Priya5/Test-Project/compare/master...Priya5:test","html_url":"https://github.com/Priya5/Test-Project/compare/master...Priya5:test","permalink_url":"https://github.com/Priya5/Test-Project/compare/Priya5:84005a3...Priya5:6076dd7","diff_url":"https://github.com/Priya5/Test-Project/compare/master...Priya5:test.diff","patch_url":"https://github.com/Priya5/Test-Project/compare/master...Priya5:test.patch","base_commit":{"sha":"84005a38b989c84c7ff6242071c05a14a4c5d476","commit":{"author":{"name":"Priya
        Rani","email":"priya.rani549@gmail.com","date":"2018-05-27T18:03:25Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2018-05-27T18:03:25Z"},"message":"Create
        hello.rb","tree":{"sha":"4eba2e1f766ef1ad725e23270309c809190b62e6","url":"https://api.github.com/repos/Priya5/Test-Project/git/trees/4eba2e1f766ef1ad725e23270309c809190b62e6"},"url":"https://api.github.com/repos/Priya5/Test-Project/git/commits/84005a38b989c84c7ff6242071c05a14a4c5d476","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJbCvLtCRBK7hj4Ov3rIwAAdHIIAF3zDMkCZnXkpc3kh2EqXg9s\nOAuHCwJza+LGYWr0sWkmU5uIup5JrTI4nNXhbWMRfxVH+Y3ZqaWt8PaJYP5sAMmm\nk/se5qAldLVEMhGbp18b6Xfk13c+oe5Xqerhed9C2/ygIrgGihH9ReTaOPBi8yaC\nU7CrLW/zltMJrc2svKoFNcC/XM3i35XN7Dzsp9oo1kXxoZLKRJWME2LpGBPlHzoP\nBIPAv+NZKuhIZRRzDrY7i3lDtahDfsyMtWs6/R7bliJWjDoCovnmcbIccucSH0ly\nJU6vhppkPkLXJ4vPgTLMUZVz6KUBoUHtq0zBpI8PocfoINHzU2Hs/gq0NB3kJSU=\n=rReS\n-----END
        PGP SIGNATURE-----\n","payload":"tree 4eba2e1f766ef1ad725e23270309c809190b62e6\nparent
        e1f1ada440fb107366d68599107aa365c1e14255\nauthor Priya Rani <priya.rani549@gmail.com>
        1527444205 +0530\ncommitter GitHub <noreply@github.com> 1527444205 +0530\n\nCreate
        hello.rb"}},"url":"https://api.github.com/repos/Priya5/Test-Project/commits/84005a38b989c84c7ff6242071c05a14a4c5d476","html_url":"https://github.com/Priya5/Test-Project/commit/84005a38b989c84c7ff6242071c05a14a4c5d476","comments_url":"https://api.github.com/repos/Priya5/Test-Project/commits/84005a38b989c84c7ff6242071c05a14a4c5d476/comments","author":{"login":"Priya5","id":16774475,"avatar_url":"https://avatars1.githubusercontent.com/u/16774475?v=4","gravatar_id":"","url":"https://api.github.com/users/Priya5","html_url":"https://github.com/Priya5","followers_url":"https://api.github.com/users/Priya5/followers","following_url":"https://api.github.com/users/Priya5/following{/other_user}","gists_url":"https://api.github.com/users/Priya5/gists{/gist_id}","starred_url":"https://api.github.com/users/Priya5/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Priya5/subscriptions","organizations_url":"https://api.github.com/users/Priya5/orgs","repos_url":"https://api.github.com/users/Priya5/repos","events_url":"https://api.github.com/users/Priya5/events{/privacy}","received_events_url":"https://api.github.com/users/Priya5/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"avatar_url":"https://avatars3.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"e1f1ada440fb107366d68599107aa365c1e14255","url":"https://api.github.com/repos/Priya5/Test-Project/commits/e1f1ada440fb107366d68599107aa365c1e14255","html_url":"https://github.com/Priya5/Test-Project/commit/e1f1ada440fb107366d68599107aa365c1e14255"}]},"merge_base_commit":{"sha":"84005a38b989c84c7ff6242071c05a14a4c5d476","commit":{"author":{"name":"Priya
        Rani","email":"priya.rani549@gmail.com","date":"2018-05-27T18:03:25Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2018-05-27T18:03:25Z"},"message":"Create
        hello.rb","tree":{"sha":"4eba2e1f766ef1ad725e23270309c809190b62e6","url":"https://api.github.com/repos/Priya5/Test-Project/git/trees/4eba2e1f766ef1ad725e23270309c809190b62e6"},"url":"https://api.github.com/repos/Priya5/Tes[...]
