---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/blackducksoftware/ohcount
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c39e592a46e83022be905f67e773a3ea69815602
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1533678894'
      Etag:
      - W/"f0b86042f3e999720dec791ca6123b8e"
      Last-Modified:
      - Mon, 06 Aug 2018 16:20:09 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":1029520,"node_id":"MDEwOlJlcG9zaXRvcnkxMDI5NTIw","name":"ohcount","full_name":"blackducksoftware/ohcount","owner":{"login":"blackducksoftware","id":431461,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQzMTQ2MQ==","avatar_url":"https://avatars0.githubusercontent.com/u/431461?v=4","gravatar_id":"","url":"https://api.github.com/users/blackducksoftware","html_url":"https://github.com/blackducksoftware","followers_url":"https://api.github.com/users/blackducksoftware/followers","following_url":"https://api.github.com/users/blackducksoftware/following{/other_user}","gists_url":"https://api.github.com/users/blackducksoftware/gists{/gist_id}","starred_url":"https://api.github.com/users/blackducksoftware/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/blackducksoftware/subscriptions","organizations_url":"https://api.github.com/users/blackducksoftware/orgs","repos_url":"https://api.github.com/users/blackducksoftware/repos","events_url":"https://api.github.com/users/blackducksoftware/events{/privacy}","received_events_url":"https://api.github.com/users/blackducksoftware/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/blackducksoftware/ohcount","description":"The
        Ohloh source code line counter","fork":true,"url":"https://api.github.com/repos/blackducksoftware/ohcount","forks_url":"https://api.github.com/repos/blackducksoftware/ohcount/forks","keys_url":"https://api.github.com/repos/blackducksoftware/ohcount/keys{/key_id}","collaborators_url":"https://api.github.com/repos/blackducksoftware/ohcount/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/blackducksoftware/ohcount/teams","hooks_url":"https://api.github.com/repos/blackducksoftware/ohcount/hooks","issue_events_url":"https://api.github.com/repos/blackducksoftware/ohcount/issues/events{/number}","events_url":"https://api.github.com/repos/blackducksoftware/ohcount/events","assignees_url":"https://api.github.com/repos/blackducksoftware/ohcount/assignees{/user}","branches_url":"https://api.github.com/repos/blackducksoftware/ohcount/branches{/branch}","tags_url":"https://api.github.com/repos/blackducksoftware/ohcount/tags","blobs_url":"https://api.github.com/repos/blackducksoftware/ohcount/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/blackducksoftware/ohcount/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/blackducksoftware/ohcount/git/refs{/sha}","trees_url":"https://api.github.com/repos/blackducksoftware/ohcount/git/trees{/sha}","statuses_url":"https://api.github.com/repos/blackducksoftware/ohcount/statuses/{sha}","languages_url":"https://api.github.com/repos/blackducksoftware/ohcount/languages","stargazers_url":"https://api.github.com/repos/blackducksoftware/ohcount/stargazers","contributors_url":"https://api.github.com/repos/blackducksoftware/ohcount/contributors","subscribers_url":"https://api.github.com/repos/blackducksoftware/ohcount/subscribers","subscription_url":"https://api.github.com/repos/blackducksoftware/ohcount/subscription","commits_url":"https://api.github.com/repos/blackducksoftware/ohcount/commits{/sha}","git_commits_url":"https://api.github.com/repos/blackducksoftware/ohcount/git/commits{/sha}","comments_url":"https://api.github.com/repos/blackducksoftware/ohcount/comments{/number}","issue_comment_url":"https://api.github.com/repos/blackducksoftware/ohcount/issues/comments{/number}","contents_url":"https://api.github.com/repos/blackducksoftware/ohcount/contents/{+path}","compare_url":"https://api.github.com/repos/blackducksoftware/ohcount/compare/{base}...{head}","merges_url":"https://api.github.com/repos/blackducksoftware/ohcount/merges","archive_url":"https://api.github.com/repos/blackducksoftware/ohcount/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/blackducksoftware/ohcount/downloads","issues_url":"https://api.github.com/repos/blackducksoftware/ohcount/issues{/number}","pulls_url":"https://api.github.com/repos/blackducksoftware/ohcount/pulls{/number}","milestones_url":"https://api.github.com/repos/blackducksoftware/ohcount/milestones{/number}","notifications_url":"https://api.github.com/repos/blackducksoftware/ohcount/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/blackducksoftware/ohcount/labels{/name}","releases_url":"https://api.github.com/repos/blackducksoftware/ohcount/releases{/id}","deployments_url":"https://api.github.com/repos/blackducksoftware/ohcount/deployments","created_at":"2010-10-27T18:40:29Z","updated_at":"2018-08-06T16:20:09Z","pushed_at":"2018-08-06T16:20:12Z","git_url":"git://github.com/blackducksoftware/ohcount.git","ssh_url":"git@github.com:blackducksoftware/ohcount.git","clone_url":"https://github.com/blackducksoftware/ohcount.git","svn_url":"https://github.com/blackducksoftware/ohcount","homepage":"https://github.com/blackducksoftware/ohcount","size":7405,"stargazers_count":209,"watchers_count":209,"language":"Ragel","has_issues":true,"has_projects":true,"has_downloads":false,"has_wiki":true,"has_pages":false,"forks_count":64,"mirror_url":null,"archived":false,"open_issues_count":7,"license":{"key":"gpl-2.0","name":"GNU
        General Public License v2.0","spdx_id":"GPL-2.0","url":"https://api.github.com/licenses/gpl-2.0","node_id":"MDc6TGljZW5zZTg="},"forks":64,"open_issues":7,"watchers":209,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"organization":{"login":"blackducksoftware","id":431461,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQzMTQ2MQ==","avatar_url":"https://avatars0.githubusercontent.com/u/431461?v=4","gravatar_id":"","url":"https://api.github.com/users/blackducksoftware","html_url":"https://github.com/blackducksoftware","followers_url":"https://api.github.com/users/blackducksoftware/followers","following_url":"https://api.github.com/users/blackducksoftware/following{/other_user}","gists_url":"https://api.github.com/users/blackducksoftware/gists{/gist_id}","starred_url":"https://api.github.com/users/blackducksoftware/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/blackducksoftware/subscriptions","organizations_url":"https://api.github.com/users/blackducksoftware/orgs","repos_url":"https://api.github.com/users/blackducksoftware/repos","events_url":"https://api.github.com/users/blackducksoftware/events{/privacy}","received_events_url":"https://api.github.com/users/blackducksoftware/received_events","type":"Organization","site_admin":false},"parent":{"id":23769,"node_id":"MDEwOlJlcG9zaXRvcnkyMzc2OQ==","name":"ohcount","full_name":"korsakov/ohcount","owner":{"login":"korsakov","id":10942,"node_id":"MDQ6VXNlcjEwOTQy","avatar_url":"https://avatars0.githubusercontent.com/u/10942?v=4","gravatar_id":"","url":"https://api.github.com/users/korsakov","html_url":"https://github.com/korsakov","followers_url":"https://api.github.com/users/korsakov/followers","following_url":"https://api.github.com/users/korsakov/following{/other_user}","gists_url":"htt[...]
