---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Priya5/orgs?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1527446695'
      Etag:
      - '"3af34d68e3496077d84420f92c13c50c"'
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 27 May 2018 18:13:30 GMT
- request:
    method: get
    uri: https://api.github.com/users/Priya/orgs?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1527594910'
      Etag:
      - W/"fc892a294c8827c40b4a76f2b0b81af7"
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"ghtorrent","id":431461,"url":"https://api.github.com/orgs/ghtorrent","repos_url":"https://api.github.com/orgs/ghtorrent/repos","events_url":"https://api.github.com/orgs/ghtorrent/events","hooks_url":"https://api.github.com/orgs/ghtorrent/hooks","issues_url":"https://api.github.com/orgs/ghtorrent/issues","members_url":"https://api.github.com/orgs/ghtorrent/members{/member}","public_members_url":"https://api.github.com/orgs/ghtorrent/public_members{/member}","avatar_url":"https://avatars0.githubusercontent.com/u/431461?v=4","description":""}]'
  recorded_at: Tue, 29 May 2018 10:55:10 GMT
- request:
    method: get
    uri: https://api.github.com/users/ghtorrent?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1527594910'
      Etag:
      - W/"78d51f294f59927d8b97b7cd45de6116"
      Last-Modified:
      - Thu, 03 May 2018 09:36:35 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"login":"ghtorrent","id":1,"avatar_url":"https://avatars0.githubusercontent.com/u/431461?v=4","gravatar_id":"","url":"https://api.github.com/users/ghtorrent","html_url":"https://github.com/ghtorrent","followers_url":"https://api.github.com/users/ghtorrent/followers","following_url":"https://api.github.com/users/ghtorrent/following{/other_user}","gists_url":"https://api.github.com/users/ghtorrent/gists{/gist_id}","starred_url":"https://api.github.com/users/ghtorrent/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ghtorrent/subscriptions","organizations_url":"https://api.github.com/users/ghtorrent/orgs","repos_url":"https://api.github.com/users/ghtorrent/repos","events_url":"https://api.github.com/users/ghtorrent/events{/privacy}","received_events_url":"https://api.github.com/users/ghtorrent/received_events","type":"Organization","site_admin":false,"name":"GHTorrent.","company":null,"blog":"https://www.ghtorrent.com/technology/integrations","location":"Burlington,
        MA","email":"ght@ghtorrent.com","hireable":null,"bio":null,"public_repos":140,"public_gists":0,"followers":0,"following":0,"created_at":"2010-10-07T19:09:56Z","updated_at":"2018-05-03T09:36:35Z"}'
  recorded_at: Tue, 29 May 2018 10:55:11 GMT
recorded_with: VCR 4.0.0
