---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/legacy/user/email/User1@example.com?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1526985896'
      Etag:
      - W/"a4a6f13d7ebb0d62d9be31992172fa29"
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"user":{"public_repo_count":6,"public_gist_count":0,"followers_count":0,"following_count":0,"created":"2016-01-19T09:01:22Z","created_at":"2016-01-19T09:01:22Z","gravatar_id":"","name":"User1","company":"","blog":"","location":null,"email":"User1@example.com","id":16774475,"login":"User1","type":"User"}}'
  recorded_at: Tue, 22 May 2018 09:44:56 GMT
- request:
    method: get
    uri: https://api.github.com/users/User1?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1526985896'
      Etag:
      - W/"27a9251937380d88784e9b6540e3fa91"
      Last-Modified:
      - Mon, 14 May 2018 07:48:39 GMT
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"login":"User1","id":16774475,"avatar_url":"https://avatars1.githubusercontent.com/u/16774475?v=4","gravatar_id":"","url":"https://api.github.com/users/User1","html_url":"https://github.com/User1","followers_url":"https://api.github.com/users/User1/followers","following_url":"https://api.github.com/users/User1/following{/other_user}","gists_url":"https://api.github.com/users/User1/gists{/gist_id}","starred_url":"https://api.github.com/users/User1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/User1/subscriptions","organizations_url":"https://api.github.com/users/User1/orgs","repos_url":"https://api.github.com/users/User1/repos","events_url":"https://api.github.com/users/User1/events{/privacy}","received_events_url":"https://api.github.com/users/User1/received_events","type":"User","site_admin":false,"name":"User1","company":null,"blog":"","location":null,"email":"User1@example.com","hireable":null,"bio":null,"public_repos":6,"public_gists":0,"followers":0,"following":0,"created_at":"2016-01-19T09:01:22Z","updated_at":"2018-05-14T07:48:39Z","private_gists":1,"total_private_repos":0,"owned_private_repos":0,"disk_usage":335,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Tue, 22 May 2018 09:44:57 GMT
- request:
    method: get
    uri: https://api.github.com/legacy/user/email/User2@example.com?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1526985896'
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Tue, 22 May 2018 10:35:16 GMT
- request:
    method: get
    uri: https://api.github.com/legacy/user/search/User1+User2?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1526985896'
      Etag:
      - '"0402d1a3161464157b15b8827e4e140b"'
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Tue, 22 May 2018 10:35:17 GMT
- request:
    method: get
    uri: https://api.github.com/legacy/user/search/User2_ght?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1526985896'
      Etag:
      - W/"911673b25b197e39dbed9d2c1c2bb1c9"
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":"user-16774475","email":"User2_ght@example.com","gravatar_id":"","username":"User2_ght","login":"User2_ght","name":"User2_ght","fullname":"User2_ght","location":null,"language":"Ruby","type":"user","public_repo_count":6,"repos":6,"followers":0,"followers_count":0,"score":25.455235,"created_at":"2016-01-19T09:01:22Z","created":"2016-01-19T09:01:22Z"}]}'
  recorded_at: Tue, 22 May 2018 10:36:54 GMT
- request:
    method: get
    uri: https://api.github.com/legacy/user/search/User2+GHT?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1526985896'
      Etag:
      - W/"911673b25b197e39dbed9d2c1c2bb1c9"
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":"user-16774475","email":"User2_ght@example.com","gravatar_id":"","username":"User2_ght","login":"User2_ght","name":"User2 GHT","fullname":"User2_ght","location":null,"language":"Ruby","type":"user","public_repo_count":6,"repos":6,"followers":0,"followers_count":0,"score":25.455235,"created_at":"2016-01-19T09:01:22Z","created":"2016-01-19T09:01:22Z"}]}'
  recorded_at: Tue, 22 May 2018 10:36:54 GMT
- request:
    method: get
    uri: https://api.github.com/legacy/user/email/User2_ght@example.com?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1526991283'
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Tue, 22 May 2018 11:41:14 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/User1_ght?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
  [...]
