---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/legacy/user/search/Priya5?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1526985896'
      Etag:
      - W/"45b7f1389b28a8f72f083607bceda926"
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":"user-16774475","gravatar_id":"","username":"Priya5","login":"Priya5","name":"Priya
        Rani","fullname":"Priya Rani","location":null,"language":"Ruby","type":"user","public_repo_count":6,"repos":6,"followers":0,"followers_count":0,"score":25.454966,"created_at":"2016-01-19T09:01:22Z","created":"2016-01-19T09:01:22Z"},{"id":"user-25654781","gravatar_id":"","username":"priya5713","login":"priya5713","name":"Priya
        ","fullname":"Priya ","location":"Ahmedabad","language":"Java","type":"user","public_repo_count":11,"repos":11,"followers":3,"followers_count":3,"score":19.105947,"created_at":"2017-02-09T05:13:29Z","created":"2017-02-09T05:13:29Z"},{"id":"user-22061603","gravatar_id":"","username":"priya57","login":"priya57","name":"PrudhviPriyanka
        Bhogavalli","fullname":"Prudh[...]
- request:
    method: get
    uri: https://api.github.com/legacy/user/search/User1+User2?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 46e54d0f00babfda05a5342133fce027a3585615
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1526985896'
      Etag:
      - '"0402d1a3161464157b15b8827e4e140b"'
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 843645bc490706cfbb49
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Tue, 22 May 2018 10:27:15 GMT
recorded_with: VCR 4.0.0
